.right-section .img-account-circule {
    background: var(--black);
    width: 36px;
    padding: 7px;
    border-radius: 17px;
    float: left;
    display: inline-flexbox;
    margin-top: -6px;
}

.right-heading {
    padding: 8px 0px 8px 0px;
}

.right-heading .account-circle{
    width: 50px;
    height: 50px;
}

.right-heading .p2{
    margin: 13px auto;
    padding: 2px;
    border-bottom: 1px solid var(--lightgray);
    border-top: 1px solid var(--lightgray);
    color: var(--black);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    line-height: 18px;
}