.right-section .img-account-circule {
    background: var(--black);
    width: 36px;
    padding: 7px;
    border-radius: 17px;
    float: left;
    display: inline-flexbox;
    margin-top: -6px;
}

.p2 {
    margin: 0 auto;
    padding: 2px;
    border-bottom: 1px solid var(--lightgray);
    border-top: 1px solid var(--lightgray);
    color: var(--black);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 50px;
    line-height: 18px;
}